{extend name="base" /}
{block name="main"}
<style>
    .list_img{
        float: left;
        width: 45px;
        padding: 0 15px;
    }
    .table th, .table td {
        text-align: center;
        vertical-align: middle!important;
    }
    .table th, .table td {
        text-align: center;
        vertical-align: middle!important;
        cursor: pointer;
    }
</style>
<div style="padding: 15px 15px 0px 15px;min-height: 60vh;">
<table class="table">
    {volist name='info' id='vo' key='k' }
    <tr style="width: 100%;" onclick="info({$vo['soft_id']})">
        <td style="width: 70px;"><img style="padding: 5px;" class="list_img" src="/{$vo['soft_img']}" alt=""></td>
        <td > <strong >{$vo['soft_name']}</strong></td>
        <td class="phonehid">
            {$vo['soft_introduce']}
        </td>
        <td class="phonehid">{$vo['soft_about']}</td>
        <td><div class="btn-group"> <a href="/admin/software/edit?id={$vo['soft_id']}" class="btn ">修改</a> <a href="{$vo['soft_url']}" class="btn " target="_blank">下载</a><a href="/admin/software/del?id={$vo['soft_id']}" class="btn ">删除</a></div></td>
    </tr>
    {/volist}
</table>
</div>
{$info->render()}
<script>
    var info=function (id) {
       window.location.href="{:url('admin/software/info')}"+"?id="+id;
    }
</script>
{/block}}

{block name="btn"}
<div style="float: right;height: 23px;margin-right: 10px;"><a href="/admin/software/add"><img style="height: 100%;margin-right: 15px;" src="/static/imgs/jia4.png" alt=""></a></div>
{/block}}