{extend name="base" /}
{block name="main"}
<div style="padding: 15px;">
    <form action="" method="post" >
        <label>编辑项目</label>
        <input type="hidden" name="id" value="{$proinfo['pro_id']}">
        <button type="submit" class="btn btn-default center-block" style="float: right;margin-top: 4px;margin-right: 15px;">保存</button>
        <div style="padding-left: 15px;">
            <div class="form-group">
                <label for="name" style="padding-top: 10px;padding-bottom: 10px;">名称</label>
                <input type="text" class="form-control" value="{$proinfo['pro_name']}" name="name" id="name" placeholder="输入名称">
            </div>
            <div class="form-group">
                <label for="introduce" style="padding-top: 10px;padding-bottom: 10px;">简介</label>
                <input type="text" class="form-control" value="{$proinfo['pro_introduce']}" name="introduce" id="introduce" placeholder="输入名称">
            </div>
        </div>
    </form>
</div>
{/block}}